@import "colors";
nav {
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.nav-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.trek-logo {
    font-size: 3rem !important;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 20px;
    padding: 5px 10px !important;
    background-color: #1F445F; 
    text-decoration: none;
    &:hover, &:visited, &:active{
        text-decoration: none;
    }
}

.navlist {
    //position: absolute;
    //margin-top: 2%;
    li {
        padding-top: 30px;
        padding-bottom: 30px;
        a {
            color: white;
            font-size: 1.5em;
        }
    }
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-default,
.navbar-nav>li>a {
    color: white;
}

.navbar-default,
.navbar-brand {
    color: white;
}

.nav-items-box{
    margin-top: 1.5%;
}

.nav-item {
    color: white !important;
    font-family: 'Rubik Mono One', sans-serif;
    flex-grow: 1;
    
}

@media (max-width: 420px) {
    .nav{ 
        height: 170px;
    }
    .nav-items-box{
        margin-top: 0;
    }
    .nav-item{
        font-size: 10px;
        padding: 5px;
    }
}

.login-box {
    &_left {
        padding: 55px;
    }
    &_right {
        padding: 55px;
    }
}

.divider {
    width: 100%;
    height: 10px;
    background-color: $secondary;
}

.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60vh;
    .park-box {
        background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/160129105442-nationalparks-1-super-169.jpg) no-repeat center center;
        background-size: cover;
        a{
            font-family: 'Rubik Mono One', sans-serif;
            color: $primary;
        }
    }
    .campsite-box {
        background: url(https://images.theoutbound.com/uploads/1437140402255/wumsmrfw78e/ca76c0961beec40ee34c0e8b7997e543?w=900&h=600&fit=crop) no-repeat center center;
        background-size: cover;
        a{
            font-family: 'Rubik Mono One', sans-serif;
        }
    }
}

.home_container-boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    //align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    //padding-top: 10%;
}

.bgr-box-primary {
    background-color: $primary;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1%;
    //overflow: auto;
}

.bgr-box-home {
    background-color: $primary;
    height: 60vh;
    width: 100%;
    margin: 0;
    overflow: auto;
    a,
    a:hover {
        color: white;
        text-decoration: none;
    }
}

.btn-accent {
    background-color: $accent;
    border: none;
}

.btn-secondary {
    background-color: $secondary;
    border: none;
    color: white;
    &:hover {
        color: $accent;
    }
}

.btn-right {
    margin-right: 15px;
    margin-bottom: 15px;
}

.campsites-box {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    align-items: center;
    //justify-content: space-around;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
}
.card-themed{
    margin: 20px;
    // max-width: 500px ;
}
.card-title-themed{
    background-color: $primary;
    color: white !important;
    padding: 7px !important;
    font-family: 'Rubik Mono One', sans-serif;
    a{
        color: white !important;
    }

}

.add-park, .add-campsite {
    margin: 10px 17px;
    padding: 10px;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    &_input {
           color: white;
           min-width: 350px;
           flex-grow: 1;
           margin: 5px;
           padding: 5px;
           input{
               color: white;
           }
           label{
               color: white}

        }
    &_submit{
        align-self: center;
        flex-grow: 1;
        button{
            margin: 5px;
        }
    }
}

.park_img_upload{

}

.park-list-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
}

.park-title-box {
    h3,
    p {
        color: white !important;
    }
}

.park-buttons {
    margin: 5px 0px;
}

.park-title-box,
.park-buttons {
    margin: 0px 20px;
}

// change to BEM dashes park-view
.park_view--campsite-card {
    background-color: #272020;
    border: none;
    margin: 3px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    a {
        z-index: 2;
        padding: 10px 30px;
        height: 50px;
    }
    p {
        color: white;
    }
    div {
        padding: 0;
    }
}

.park_list--park_card {
    background-color: $secondary;
    border: none;
    height: 250px;
    width: auto;
    p {
        color: white;
    }
}

// Campsite-View

.campsite-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    // padding-top: 5px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-content: center;
    // flex-wrap: wrap;
}

.campsite-wrapper > *{
    margin: 20px;
}

.campsite-view_infobox {
    height: auto;
    padding: 0px 20px !important;
    color: white;
    border: none;
    background-color: $secondary;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .campsite-view_header{
        h1{
            text-align: center;
            color: white;
            font-family: 'Rubik Mono One', sans-serif;
        }
        h5{
            text-align: center;
            color: $accent;
        }
        .accent-border{
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            margin-bottom: 20px;
        }
    }

    .campsite-view_details{
        p{
            font-size: 20px;
            color: $accent;
            font-weight: bold;
            max-width: 370px;
            overflow-wrap: break-word;
        }

        span{
            color: white;
            font-size: 17px;
            max-width: 400px;
            overflow-wrap: break-word;
        }
    }
    
    img{
        width: 100%;
        height: auto;
        border: 2px solid $primary;

    }
    
    .btn-box{
        margin: 15px;
        button{
            text-align: center;
            font-size: 12px;
            color: $primary;
            width: 100%;
            vertical-align: middle;
            i{
                vertical-align: middle;
                margin: 4px 4px 5px 4px;
            }
        }
    }
}

.campsite-view_main-box {
    height: auto;
    color: white;
    background-color: $secondary;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    &> * {
        padding: 15px;
        border-bottom: 4px solid $primary;
        //height: 33.33%
    }
    .review-box {
        min-height: 20%;
        //overflow: auto;
        p {
            margin: 0;
            font-size: 15px;
        }
    }
    .comment-box {
        // margin: 5px;
        // padding: 10px;
        height: auto;
        //background-color: #555151;
        //overflow: auto;
        input {
            color: black;
            width: 350px;
            margin: 0px;
        }
        h4{
            color: $accent;
        }
    }
    .bottom-box {
        &> *{
           border: none; 
        }
        min-height: 250px;
        display: flex;
        flex-direction: row;
        flex-basis: 2;
        //flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        // padding: 15px;
        //height: 35%;
        .img-map{
            
        }
        .coordinates{
            text-align: center;
            border: none;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            & p{
                margin: 10px;
            }
            & p:nth-of-type(odd){
                font-size: 30px;
            }
            & p:nth-of-type(even){
                background-color: $accent; 
                color: $primary;
            }
        }
    }

}

.edit-campsite{
    background-color: $secondary;
    padding: 25px;
}

// Switch from Grid to Flexbox on tablet size or smaller
@media(max-width: 770px){
    .campsite-wrapper{
        display: flex;
        flex-direction: column;
        
    }
}

.bottom-box img {
    height: 200px;
    width: auto;
    margin: 5px;
}
.input-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-box input {
    max-width: 300px;
}

.comment-text{
    font-size: 12px;
    margin-left: 10px;
    color: white;
}

.boxy-inline {
    display: inline-block;
}

.form-bottom-box{
    margin: 25px 0px;;
}

.uploadedImage {
    height: 140px;
    width: auto;
}

.campsite-bgr {
    height: 300px;
}

.no-space {
    max-width: 350px;
    padding: 0;
}

.nav-test {
    height: 400px;
    // color: red;
    // text-transform: uppercase;
    // text-decoration: underline;
}

#map {
    min-height: 200px;
    height: 100%;
    width: 100%;
    max-width: 600px;
}



#blankMap, #editMap {
    min-height: 250px;
    //max-height: 50%;
    width: 100%;
}

.form-group label {
    color: white;
}

// Rules for ReDesign of UI
