<div class="bgr-box-primary">
    <div>
        <h2>Parks</h2>
        <div class="">
            <button class="btn btn-default btn-accent btn-right pull-right" ng-click="addingPark = true;" ng-show="!addingPark">Add <i class="material-icons">landscape</i></button>
        </div>

        <!--  -->

        <div class="add-park" ng-show="addingPark">
            <!-- <form class="form-group"> -->
            <div class="add-park_input">
                <label>Park Name</label>
                <input type="text" class="" placeholder="Name" ng-model="newPark.name" ng-required="required" />
            </div>
            <div class="add-park_input">
                <label>City/Town</label>
                <input type="text" class="" placeholder="City/Town" ng-model="newPark.city" ng-required="required" />
            </div>
            <div class="add-park_input">
                <label>State</label>
                <input type="text" class="" placeholder="State" ng-model="newPark.state" />
            </div>
            <div class="add-park_input">
                <label>Latitude</label>
                <input type="text" class="" placeholder="Latitude" ng-model="newPark.latitude" />
            </div>
            <div class="add-park_input">
                <label>Longitude</label>
                <input type="text" class="" placeholder="Longitude" ng-model="newPark.longitude" />
            </div>
            <div class="add-park_input">
                <label for="exampleInputFile">Park Image</label>
                <input class="" type="file" id="exampleInputFile" ng-model="newPark.image">
            </div>
            <div class="add-park_input add-park_submit">
                <button class="btn btn-default btn-accent" ng-click="addingPark = false; addNewPark()">Submit</button>
                <button class="btn btn-default btn-accent" ng-click="addingPark = false;" ng-show="addingPark">Close</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div class="park-list-grid">
        <div ng-repeat="park in allParks" ng-show="!addingPark" class="cardy">
            <div class="park_list--park_card">

                <a ng-href="#!/park_view/{{park.parkId}}">{{park.name}}</a>
                <p>{{park.city}}, {{park.state}}</p>
                <a ng-click="deletePark(park.parkId)">
                    <!--<button>Delete Park</button>-->
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
                <!-- <a ng-click="editing = true">
                        <button>Edit Park</button>
                    </a> -->
            </div>
        </div>
    </div>
    <!-- hi-->
</div>