<div class="divider"></div>
<div class="bgr-box-primary">
    <div class="park-top-box">
        <div class="park-title-box">
            <h5>{{park.name}}</h5>
            <p>{{park.city}}, {{park.state}}</p>
        </div>
        <div class="park-buttons">
            <a ng-click="editing=true" ng-hide="addingCampsite">
            <button class="btn btn-default btn-accent">Edit Park <i class="tiny material-icons">edit</i></button>
        </a>
            <a ng-click="editing=false" ng-show="editing">
            <button class="btn btn-default btn-accent">Close</button>
        </a>
            <!-- <img class="uploadedImage" src="data:{{campsite.image.filetype}};base64,{{campsite.image.base64code}}"> -->
            <!-- <div id="map"></div> -->
            <!-- <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-default btn-accent btn-right pull-right" ng-click="addingPark = true;" ng-show="!addingPark">+ Add Campsite <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span></button>
            <button class="btn btn-default btn-accent" ng-click="addingPark = false;" ng-show="addingPark">Close</button>
        </div>  
    </div> -->
            <button class="btn btn-default btn-accent " ng-click="addingCampsite = true;" ng-hide="addingCampsite; editing">Add Campsite <i class="tiny material-icons">landscape</i></button>
            <button class="btn btn-default btn-accent" ng-click="addingCampsite = false;" ng-show="addingCampsite">Close</button>
        </div>
    </div>
    <div class="add-campsite_grid" ng-show="addingCampsite">
        <div class="add-campsite_input-box">
            <div class="add-campsite_column white-text">
                <div class="">
                    <label>Campsite Name</label>
                    <input type="text" class="" placeholder="Campsite Name" ng-model="newCampsite.campsiteName" ng-required="required" />
                </div>
                <div class="Area">
                    <label>Area</label>
                    <input type="text" class="" placeholder="Area" ng-model="newCampsite.area" ng-required="required" />
                </div>
                <div class="">
                    <label>Type</label>
                    <input type="text" class="" placeholder="Type" ng-model="newCampsite.type" />
                </div>
                <div class="">
                    <label>Fee</label>
                    <input type="text" class="" placeholder="Fee" ng-model="newCampsite.fee" />
                </div>
            </div>

            <div class="add-campsite_column white-text">
                <div class="">
                    <label>Latitude</label>
                    <input type="text" class="" placeholder="Latitude" ng-model="newCampsite.coordinates.lat" />
                </div>
                <div class="">
                    <label>Longitude</label>
                    <input type="text" class="" placeholder="Longitude" ng-model="newCampsite.coordinates.lng" />
                </div>
                <div class="">
                    <label>Bathrooms</label>
                    <input type="text" class="" placeholder="Bathrooms" ng-model="newCampsite.bathrooms" />
                </div>
                <div class="">
                    <label>Features</label>
                    <input type="text" class="" placeholder="Features" ng-model="newCampsite.features" />
                </div>
            </div>

        </div>

        <div class="white-text add-campsite_review">
            <label>Review</label>
            <input type="text" class="" placeholder="Write a review" ng-model="newCampsite.review" />
        </div>


        <div class="add-campsite_image-box">
            <label class="" for="file">Park Image <i class="small material-icons">insert_photo</i></label>
            <input class="btn-accent" type="file" ng-model="file" name="file" base-sixty-four-input onload="onLoad" accept="image/*">
            <button class="btn btn-warning " ng-click="itemSave()" ng-disabled="!file.base64">Upload Image</button>
        </div>

        <div class="add-campsite_end">
            <div class="blank-map" id="blankMap"></div>

            <button class="btn btn-default btn-accent save-btn" ng-click="addingCampsite = false; createNewCampsite()">Save</button>
        </div>

    </div>
    <div class="campsites-box" ng-hide="editing == true || addingCampsite == true">
        <div class="card-themed" ng-repeat="campsite in campsites">
            <div class="uploadedImage" style="background: url('data:{{campsite.image.filetype}};base64,{{campsite.image.base64code}}') no-repeat center center">
            <span class="card-title-themed">
             <a ng-href="#!/campsite_view/{{campsite.campsiteId}}">{{campsite.campsiteName}}</a><br>
            </span>
            </div>
        </div>
    </div>
    <div class="add-park" ng-hide="!editing">
        <div class="">
            <label>Park Name</label>
            <input type="text" class="" placeholder="Name" ng-model="editedPark.name" ng-required="required" />
        </div>
        <div class="">
            <label>City/Town</label>
            <input type="text" class="" placeholder="City/Town" ng-model="editedPark.city" ng-required="required" />
        </div>
        <div class="">
            <label>State</label>
            <input type="text" class="" placeholder="State" ng-model="editedPark.state" />
        </div>
        <div class="">
            <label>Latitude</label>
            <input type="text" class="" placeholder="Latitude" ng-model="editedPark.latitude" />
        </div>
        <div class="">
            <label>Longitude</label>
            <input type="text" class="" placeholder="Longitude" ng-model="editedPark.longitude" />
        </div>
        <!-- <div class="form-group">
                <label for="exampleInputFile">Image</label>
                <input type="file" id="exampleInputFile" ng-model="editedPark.image">
            </div> -->
        <button class="btn btn-default" ng-click="editing = false; editPark()">Submit</button>
    </div>
</div>