nav {
  height: 150px;
  margin-bottom: 0; }

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }

.trek-logo {
  font-size: 3rem !important;
  font-family: 'Rubik Mono One', sans-serif;
  margin: 20px;
  padding: 5px 10px !important;
  background-color: #1F445F;
  text-decoration: none; }
  .trek-logo:hover, .trek-logo:visited, .trek-logo:active {
    text-decoration: none; }

.navlist li {
  padding-top: 30px;
  padding-bottom: 30px; }
  .navlist li a {
    color: white;
    font-size: 1.5em; }

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

.navbar-default,
.navbar-nav > li > a {
  color: white; }

.navbar-default,
.navbar-brand {
  color: white; }

.nav-items-box {
  margin-top: 1.5%; }

.nav-item {
  color: white !important;
  font-family: 'Rubik Mono One', sans-serif;
  flex-grow: 1; }

@media (max-width: 420px) {
  .nav {
    height: 170px; }
  .nav-items-box {
    margin-top: 0; }
  .nav-item {
    font-size: 10px;
    padding: 5px; } }

.login-box_left {
  padding: 55px; }

.login-box_right {
  padding: 55px; }

.divider {
  width: 100%;
  height: 10px;
  background-color: #312F2F; }

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60vh; }
  .home-container .park-box {
    background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/160129105442-nationalparks-1-super-169.jpg) no-repeat center center;
    background-size: cover; }
    .home-container .park-box a {
      font-family: 'Rubik Mono One', sans-serif;
      color: #1F445F; }
  .home-container .campsite-box {
    background: url(https://images.theoutbound.com/uploads/1437140402255/wumsmrfw78e/ca76c0961beec40ee34c0e8b7997e543?w=900&h=600&fit=crop) no-repeat center center;
    background-size: cover; }
    .home-container .campsite-box a {
      font-family: 'Rubik Mono One', sans-serif; }

.home_container-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 50px; }

.bgr-box-primary {
  background-color: #1F445F;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 1%; }

.bgr-box-home {
  background-color: #1F445F;
  height: 60vh;
  width: 100%;
  margin: 0;
  overflow: auto; }
  .bgr-box-home a,
  .bgr-box-home a:hover {
    color: white;
    text-decoration: none; }

.btn-accent {
  background-color: #FFB81C;
  border: none; }

.btn-secondary {
  background-color: #312F2F;
  border: none;
  color: white; }
  .btn-secondary:hover {
    color: #FFB81C; }

.btn-right {
  margin-right: 15px;
  margin-bottom: 15px; }

.campsites-box {
  margin: 10px 0px; }

.add-park, .add-campsite {
  margin: 10px 17px;
  padding: 10px;
  background-color: #312F2F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  .add-park_input, .add-campsite_input {
    color: white;
    min-width: 350px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px; }
    .add-park_input input, .add-campsite_input input {
      color: white; }
    .add-park_input label, .add-campsite_input label {
      color: white; }
  .add-park_submit, .add-campsite_submit {
    align-self: center;
    flex-grow: 1; }
    .add-park_submit button, .add-campsite_submit button {
      margin: 5px; }

.park-title-box h3,
.park-title-box p {
  color: white !important; }

.park-buttons {
  margin: 5px 0px; }

.park-title-box,
.park-buttons {
  margin: 0px 20px; }

.park_view--campsite-card {
  background-color: #272020;
  border: none;
  margin: 3px;
  height: 300px;
  overflow: hidden;
  text-align: center; }
  .park_view--campsite-card a {
    z-index: 2;
    padding: 10px 30px;
    height: 50px; }
  .park_view--campsite-card p {
    color: white; }
  .park_view--campsite-card div {
    padding: 0; }

.park_list--park_card {
  background-color: #312F2F;
  border: none;
  height: 250px;
  width: auto; }
  .park_list--park_card p {
    color: white; }

.campsite-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr; }

.campsite-wrapper > * {
  margin: 20px; }

.campsite-view_infobox {
  height: auto;
  padding: 0px 20px !important;
  color: white;
  border: none;
  background-color: #312F2F;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .campsite-view_infobox .campsite-view_header h1 {
    text-align: center;
    color: white;
    font-family: 'Rubik Mono One', sans-serif; }
  .campsite-view_infobox .campsite-view_header h5 {
    text-align: center;
    color: #FFB81C; }
  .campsite-view_infobox .campsite-view_header .accent-border {
    border-top: 2px solid #1F445F;
    border-bottom: 2px solid #1F445F;
    margin-bottom: 20px; }
  .campsite-view_infobox .campsite-view_details p {
    font-size: 20px;
    color: #FFB81C;
    font-weight: bold;
    max-width: 400px;
    overflow-wrap: break-word; }
  .campsite-view_infobox .campsite-view_details span {
    color: white;
    font-size: 17px;
    max-width: 400px;
    overflow-wrap: break-word; }
  .campsite-view_infobox img {
    width: 100%;
    height: auto;
    border: 2px solid #1F445F; }
  .campsite-view_infobox a {
    text-align: center; }
  .campsite-view_infobox .btn-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px; }

.campsite-view_main-box {
  height: auto;
  color: white;
  background-color: #312F2F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; }
  .campsite-view_main-box > * {
    padding: 15px;
    border-bottom: 4px solid #1F445F;
    height: 33.33%; }
  .campsite-view_main-box .review-box {
    min-height: 20%; }
    .campsite-view_main-box .review-box p {
      font-size: 15px; }
  .campsite-view_main-box .comment-box {
    height: auto; }
    .campsite-view_main-box .comment-box input {
      color: black;
      width: 350px;
      margin: 0px; }
    .campsite-view_main-box .comment-box h4 {
      color: #FFB81C; }
  .campsite-view_main-box .bottom-box {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    flex-basis: 2;
    justify-content: space-around;
    align-items: center; }
    .campsite-view_main-box .bottom-box > * {
      border: none; }
    .campsite-view_main-box .bottom-box .coordinates {
      text-align: center;
      border: none;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center; }
      .campsite-view_main-box .bottom-box .coordinates p {
        margin: 0; }
      .campsite-view_main-box .bottom-box .coordinates p:nth-of-type(odd) {
        font-size: 30px; }
      .campsite-view_main-box .bottom-box .coordinates p:nth-of-type(even) {
        background-color: #FFB81C; }

@media (max-width: 770px) {
  .campsite-wrapper {
    display: flex;
    flex-direction: column; } }

.bottom-box img {
  height: 200px;
  width: auto;
  margin: 5px; }

.input-box input {
  max-width: 300px; }

.comment-text {
  font-size: 12px;
  margin-left: 10px;
  color: white; }

.boxy-inline {
  display: inline-block; }

.uploadedImage {
  height: 140px;
  width: auto; }

.campsite-bgr {
  height: 300px; }

.no-space {
  max-width: 350px;
  padding: 0; }

.nav-test {
  height: 400px; }

#map {
  min-height: 200px;
  height: 100%;
  width: 100%;
  max-width: 600px; }

#blankMap, #editMap {
  height: 250px;
  width: 400px; }

.form-group label {
  color: white; }
