nav {
  height: 150px;
  margin-bottom: 0;
  padding-bottom: 20px; }

.nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center; }

.trek-logo {
  font-size: 3rem !important;
  font-family: 'Rubik Mono One', sans-serif;
  margin: 20px;
  padding: 5px 10px !important;
  background-color: #1F445F;
  text-decoration: none; }
  .trek-logo:hover, .trek-logo:visited, .trek-logo:active {
    text-decoration: none; }

.navlist li {
  padding-top: 30px;
  padding-bottom: 30px; }
  .navlist li a {
    color: white;
    font-size: 1.5em; }

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

.navbar-default,
.navbar-nav > li > a {
  color: white; }

.navbar-default,
.navbar-brand {
  color: white; }

.nav-items-box {
  margin-top: 1.5%; }

.nav-item {
  color: white !important;
  font-family: 'Rubik Mono One', sans-serif;
  flex-grow: 1; }

@media (max-width: 420px) {
  .nav {
    height: 170px; }
  .nav-items-box {
    margin-top: 0; }
  .nav-item {
    font-size: 10px;
    padding: 5px; } }

.login-box_left {
  padding: 55px; }
  .login-box_left a {
    width: 40%;
    color: #FFB81C; }

.login-box_right {
  padding: 55px; }

.login-input-wrapper {
  background-color: #312F2F;
  padding: 15px;
  border-radius: 10px; }
  .login-input-wrapper input {
    padding: 20px; }

.divider {
  width: 100%;
  height: 10px;
  background-color: #312F2F; }

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60vh; }
  .home-container .park-box {
    background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/160129105442-nationalparks-1-super-169.jpg) no-repeat center center;
    background-size: cover; }
    .home-container .park-box a {
      font-family: 'Rubik Mono One', sans-serif;
      color: #1F445F; }
  .home-container .campsite-box {
    background: url(https://images.theoutbound.com/uploads/1437140402255/wumsmrfw78e/ca76c0961beec40ee34c0e8b7997e543?w=900&h=600&fit=crop) no-repeat center center;
    background-size: cover; }
    .home-container .campsite-box a {
      font-family: 'Rubik Mono One', sans-serif; }

.home_container-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 50px; }

.bgr-box-primary {
  background-color: #1F445F;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 1%; }

.bgr-box-home {
  background-color: #1F445F;
  height: 60vh;
  width: 100%;
  margin: 0;
  overflow: auto; }
  .bgr-box-home a,
  .bgr-box-home a:hover {
    color: white;
    text-decoration: none; }

.btn-accent {
  background-color: #FFB81C;
  border: none; }

.btn-secondary {
  background-color: #312F2F;
  border: none;
  color: white;
  min-height: 100%; }
  .btn-secondary:hover {
    color: #FFB81C; }

.btn-right {
  margin-right: 15px;
  margin-bottom: 15px; }

.campsites-box {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.card-themed {
  margin: 20px;
  position: relative;
  height: 300px;
  width: 300px;
  flex-grow: 1;
  overflow: hidden;
  border: 4px solid #312F2F; }
  .card-themed a {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #1F445F;
    padding: 10px; }
  .card-themed img {
    min-width: 100%;
    min-height: 100%; }

.card-title-themed {
  background-color: #1F445F;
  color: white !important;
  padding: 7px !important;
  font-family: 'Rubik Mono One', sans-serif; }
  .card-title-themed a {
    color: white !important; }

.add-park,
.add-campsite {
  margin: 10px 17px;
  padding: 10px;
  background-color: #312F2F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  .add-park_input,
  .add-campsite_input {
    color: white;
    min-width: 350px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px; }
    .add-park_input input,
    .add-campsite_input input {
      color: white; }
    .add-park_input label,
    .add-campsite_input label {
      color: white; }
  .add-park_submit,
  .add-campsite_submit {
    align-self: center;
    flex-grow: 1; }
    .add-park_submit button,
    .add-campsite_submit button {
      margin: 5px; }

.park-list_top {
  color: white;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px; }
  .park-list_top p {
    margin: 0;
    font-size: 35px;
    font-family: 'Rubik Mono One', sans-serif; }
  .park-list_top_buttons {
    vertical-align: middle; }

.park-list-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }
  .park-list-grid .cardy {
    margin: 20px;
    position: relative;
    height: 300px;
    width: 300px;
    flex-grow: 1;
    overflow: hidden;
    border: 3px solid #312F2F; }
    .park-list-grid .cardy a {
      text-align: center; }

.park-top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px; }

.park-title-box {
  margin: 0px 20px; }
  .park-title-box h5 {
    font-family: 'Rubik Mono One', sans-serif;
    color: white !important; }
  .park-title-box p {
    color: #FFB81C; }

.park-buttons {
  margin: 12px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .park-buttons button {
    color: #1F445F;
    font-size: 12px;
    min-width: 180px; }
    .park-buttons button i {
      vertical-align: middle;
      margin: 0 0 3px 3px; }

.park_view--campsite-card {
  background-color: #272020;
  border: none;
  margin: 3px;
  height: 300px;
  overflow: hidden;
  text-align: center; }
  .park_view--campsite-card a {
    z-index: 2;
    padding: 10px 30px;
    height: 50px; }
  .park_view--campsite-card p {
    color: white; }
  .park_view--campsite-card div {
    padding: 0; }

.park_list--park_card {
  background-color: #312F2F;
  border: none;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .park_list--park_card_title a {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    vertical-align: middle; }
  .park_list--park_card_title p {
    color: #FFB81C; }

.campsite-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr; }

.campsite-wrapper > * {
  margin: 20px; }

.campsite-view_infobox {
  height: auto;
  padding: 0px 20px !important;
  color: white;
  border: none;
  background-color: #312F2F;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .campsite-view_infobox .campsite-view_header h1 {
    text-align: center;
    color: white;
    font-family: 'Rubik Mono One', sans-serif; }
  .campsite-view_infobox .campsite-view_header h5 {
    text-align: center;
    color: #FFB81C; }
  .campsite-view_infobox .campsite-view_header .accent-border {
    border-top: 2px solid #1F445F;
    border-bottom: 2px solid #1F445F;
    margin-bottom: 20px; }
  .campsite-view_infobox .campsite-view_details p {
    font-size: 20px;
    color: #FFB81C;
    font-weight: bold;
    max-width: 370px;
    overflow-wrap: break-word; }
  .campsite-view_infobox .campsite-view_details span {
    color: white;
    font-size: 17px;
    max-width: 400px;
    overflow-wrap: break-word; }
  .campsite-view_infobox img {
    width: 100%;
    height: auto;
    border: 2px solid #1F445F; }
  .campsite-view_infobox .btn-box {
    margin: 15px; }
    .campsite-view_infobox .btn-box button {
      text-align: center;
      font-size: 12px;
      color: #1F445F;
      width: 100%;
      vertical-align: middle; }
      .campsite-view_infobox .btn-box button i {
        vertical-align: middle;
        margin: 4px 4px 5px 4px; }

.campsite-view_main-box {
  height: auto;
  color: white;
  background-color: #312F2F;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }
  .campsite-view_main-box > * {
    padding: 15px;
    border-bottom: 4px solid #1F445F; }
  .campsite-view_main-box .review-box {
    min-height: 20%; }
    .campsite-view_main-box .review-box p {
      margin: 0;
      font-size: 15px; }
    .campsite-view_main-box .review-box .tag {
      background-color: #FFB81C;
      color: #1F445F;
      float: left;
      padding: 5px 3px 5px 3px;
      margin: 0 10px 5px 0; }
  .campsite-view_main-box .comment-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;
    height: auto; }
    .campsite-view_main-box .comment-box_comment {
      margin: 0; }
    .campsite-view_main-box .comment-box .submit-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      min-width: 100%; }
      .campsite-view_main-box .comment-box .submit-box input {
        margin: 0; }
      .campsite-view_main-box .comment-box .submit-box button {
        margin: 1% 0 0 1%; }
    .campsite-view_main-box .comment-box h4 {
      color: #FFB81C; }
  .campsite-view_main-box .bottom-box {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    flex-basis: 2;
    justify-content: space-around;
    align-items: center; }
    .campsite-view_main-box .bottom-box > * {
      border: none; }
    .campsite-view_main-box .bottom-box .coordinates {
      text-align: center;
      border: none;
      border-top: 2px solid #1F445F;
      border-bottom: 2px solid #1F445F;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center; }
      .campsite-view_main-box .bottom-box .coordinates p {
        margin: 10px; }
      .campsite-view_main-box .bottom-box .coordinates p:nth-of-type(odd) {
        font-size: 30px; }
      .campsite-view_main-box .bottom-box .coordinates p:nth-of-type(even) {
        background-color: #FFB81C;
        color: #1F445F; }

.edit-campsite {
  background-color: #312F2F;
  padding: 25px;
  color: white; }

.upload-box {
  margin: 10px;
  background-color: #FFB81C; }
  .upload-box input {
    padding: 20px; }
  .upload-box label {
    font-size: 15px;
    margin: 5px;
    color: #1F445F; }
  .upload-box label,
  .upload-box i {
    vertical-align: middle; }
  .upload-box button {
    margin: 10px; }

.edit-map {
  margin: 10px; }

.form-bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .form-bottom-buttons button,
  .form-bottom-buttons .delete-btn {
    flex-grow: 1;
    vertical-align: middle;
    margin: 10px; }

@media (max-width: 770px) {
  .campsite-wrapper {
    display: flex;
    flex-direction: column; }
  .image-map {
    width: 100px;
    height: auto; } }

.bottom-box img {
  height: 200px;
  width: auto;
  margin: 5px; }

.input-box {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.input-box input {
  max-width: 300px; }

.comment-text {
  font-size: 12px;
  margin-left: 10px;
  color: white; }

.boxy-inline {
  display: inline-block; }

.form-bottom-box {
  margin: 25px 0px; }

.uploadedImage {
  height: 140px;
  width: auto; }

.campsite-bgr {
  height: 300px; }

.no-space {
  max-width: 350px;
  padding: 0; }

.nav-test {
  height: 400px; }

#map {
  min-height: 200px;
  height: 100%;
  width: 100%;
  max-width: 600px; }

#blankMap,
#editMap {
  min-height: 250px;
  width: 100%; }

.form-group label {
  color: white; }

.add-campsite_grid {
  background-color: #312F2F;
  padding: 25px;
  margin-top: 25px; }

.add-campsite_input-box {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.add-campsite_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .add-campsite_column > * {
    margin: 10px; }

.add-campsite_review {
  margin: 10px; }

.add-campsite_image-box {
  margin: 10px;
  background-color: #FFB81C; }
  .add-campsite_image-box label {
    font-size: 15px;
    margin: 5px;
    color: #1F445F; }
  .add-campsite_image-box label,
  .add-campsite_image-box i {
    vertical-align: middle; }
  .add-campsite_image-box button {
    margin: 10px; }

.add-campsite_end .blank-map {
  margin: 10px; }

.add-campsite_end .save-btn {
  width: 100%;
  margin: 10px; }
