nav {
  height: 100px;
  margin-bottom: 0; }

.trek-logo {
  font-size: 3rem !important;
  margin: 20px; }

.navlist li {
  padding-top: 30px;
  padding-bottom: 30px; }
  .navlist li a {
    color: white;
    font-size: 1.5em; }

.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

.navbar-default,
.navbar-nav > li > a {
  color: white; }

.navbar-default,
.navbar-brand {
  color: white; }

.nav-item {
  color: white !important; }

.login-box_left {
  padding: 55px; }

.login-box_right {
  padding: 55px; }

.divider {
  width: 100%;
  height: 10px;
  background-color: #312F2F; }

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60vh; }
  .home-container .park-box {
    background: url(http://i2.cdn.cnn.com/cnnnext/dam/assets/160129105442-nationalparks-1-super-169.jpg) no-repeat center center;
    background-size: cover; }
  .home-container .campsite-box {
    background: url(https://images.theoutbound.com/uploads/1437140402255/wumsmrfw78e/ca76c0961beec40ee34c0e8b7997e543?w=900&h=600&fit=crop) no-repeat center center;
    background-size: cover; }

.home_container-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 50px; }

.bgr-box-primary {
  background-color: #1F445F;
  height: 90vh;
  width: 100%;
  margin: 0;
  padding-top: 2%;
  overflow: auto; }

.bgr-box-home {
  background-color: #1F445F;
  height: 60vh;
  width: 100%;
  margin: 0;
  overflow: auto; }
  .bgr-box-home a,
  .bgr-box-home a:hover {
    color: white;
    text-decoration: none; }

.btn-accent {
  background-color: #FFB81C;
  border: none; }

.btn-secondary {
  background-color: #312F2F;
  border: none;
  color: white; }
  .btn-secondary:hover {
    color: #FFB81C; }

.btn-right {
  margin-right: 15px;
  margin-bottom: 15px; }

.campsites-box {
  margin: 10px 0px; }

.add-park, .add-campsite {
  margin: 10px 17px;
  padding: 10px;
  background-color: #312F2F;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  .add-park_input, .add-campsite_input {
    color: white;
    min-width: 350px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px; }
    .add-park_input input, .add-campsite_input input {
      color: white; }
    .add-park_input label, .add-campsite_input label {
      color: white; }
  .add-park_submit, .add-campsite_submit {
    align-self: center;
    flex-grow: 1; }
    .add-park_submit button, .add-campsite_submit button {
      margin: 5px; }

.park-title-box h3,
.park-title-box p {
  color: white !important; }

.park-buttons {
  margin: 5px 0px; }

.park-title-box,
.park-buttons {
  margin: 0px 20px; }

.park_view--campsite-card {
  background-color: #272020;
  border: none;
  margin: 3px;
  height: 300px;
  overflow: hidden;
  text-align: center; }
  .park_view--campsite-card a {
    z-index: 2;
    padding: 10px 30px;
    height: 50px; }
  .park_view--campsite-card p {
    color: white; }
  .park_view--campsite-card div {
    padding: 0; }

.park_list--park_card {
  background-color: #312F2F;
  border: none;
  height: 250px;
  width: auto; }
  .park_list--park_card p {
    color: white; }

.campsite-view_infobox {
  height: 100%;
  color: white;
  border: none;
  background-color: #312F2F; }
  .campsite-view_infobox p {
    color: #FFB81C;
    font-weight: bold; }
  .campsite-view_infobox span {
    color: white;
    font-size: 12px; }

.campsite-view_main-box {
  color: white;
  background-color: #312F2F;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .campsite-view_main-box .review-box {
    padding: 15px; }
    .campsite-view_main-box .review-box p {
      font-size: 15px; }
  .campsite-view_main-box .comment-box {
    margin: 5px;
    padding: 10px;
    background-color: #555151;
    overflow: auto; }
    .campsite-view_main-box .comment-box input {
      color: black;
      width: 350px;
      margin: 0px; }
    .campsite-view_main-box .comment-box h4 {
      color: #FFB81C; }
  .campsite-view_main-box .bottom-box {
    padding: 15px; }

.bottom-box img {
  height: 100%;
  width: 100%;
  margin: 5px; }

.input-box input {
  max-width: 300px; }

.comment-text {
  font-size: 12px;
  margin-left: 10px;
  color: white; }

.boxy-inline {
  display: inline-block; }

.uploadedImage {
  height: 140px;
  width: auto; }

.campsite-bgr {
  height: 300px; }

.no-space {
  max-width: 350px;
  padding: 0; }

.nav-test {
  height: 400px; }

#map {
  height: 250px;
  width: 100%; }

#blankMap, #editMap {
  height: 250px;
  width: 400px; }

.form-group label {
  color: white; }
